.grey-row {
  background-color: #bdbdbd; /* Light grey background */
}

.selected-row {
  background-color: #0958d9; /* Light blue background for selected row */
}

.overdue-ticket {
  background-color: #ff4d4f; 
}



.ant-table-cell {
  padding: 2px !important; /* Removes cell padding */
  padding-left: 10px !important; /* Adds left padding of 10px */
  padding-right: 10px !important; /* Adds right padding of 10px */
}

